<form>
    <table style="border: 1px solid black; padding: 10px;">
      <tr>
        <td style="padding-right: 50px;padding-bottom: 10px;">
          <span>Message Types:</span>
        </td>
        <td style="padding-bottom: 10px;">
          <app-checkbox id="1" name="1" label="METAR" value="METAR" checked />
          <app-checkbox id="2" name="2" label="SIGMET" value="SIGMET" />
          <app-checkbox id="3" name="3" label="TAF" value="TAF" />
        </td>
      </tr>
      <tr>
        <td style="padding-right: 50px;">
          <span>Airports:</span>
        </td>
        <td>
          <input style="width: -webkit-fill-available;" type="text" id="name" name="name" />
        </td>
      </tr>
      <tr>
        <td style="padding-right: 50px; padding-bottom: 10px;">
          <span>Countries:</span>
        </td>
        <td style="padding-bottom: 10px;">
          <input style="width: -webkit-fill-available;" type="text" id="name" name="name" />
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <input style="float: right;" type="submit" value="Create Briefing" />
        </td>
      </tr>
    </table>
  </form>

