<form>
    <table style="border: 1px solid black; padding: 10px;">
      <tr>
        <td style="padding-right: 50px;padding-bottom: 10px;">
          <span>Message Types:</span>
        </td>
        <td style="padding-bottom: 10px;">
          <app-checkbox (change)="setMessageType($event)" id="1" name="messageType" label="METAR" value="METAR" checked />
          <app-checkbox (change)="setMessageType($event)" id="2" name="messageType" label="SIGMET" value="SIGMET" />
          <app-checkbox (change)="setMessageType($event)" id="3" name="messageType" label="TAF" value="TAF" />
        </td>
      </tr>
      <tr [hidden] = "atLeastOneCheckboxSelected">
        <td>
        </td>
        <td>
            <span style="color: red;">At least one message type must be selected.</span>
        </td>
      </tr>
      <tr>
        <td style="padding-right: 50px;">
          <span>Airports:</span>
        </td>
        <td>
          <input [(ngModel)]="airports" style="width: -webkit-fill-available;" type="text" id="airports" name="airports" />
        </td>
      </tr>
      <tr>
        <td style="padding-right: 50px; padding-bottom: 10px;">
          <span>Countries:</span>
        </td>
        <td style="padding-bottom: 10px;">
          <input [(ngModel)]="countries" style="width: -webkit-fill-available;" type="text" id="countries" name="countries" />
        </td>
      </tr>
      <tr [hidden] = "atLeastOneInputFilled">
        <td>
        </td>
        <td>
            <span style="color: red;">At least one airport (ICAO code) or country (WMO code) is required. Multiple airport or country codes are separated by space.</span>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <input style="float: right;" type="submit" value="Create Briefing" />
        </td>
      </tr>
    </table>
  </form>

